/* App.css */

/* Ensure scrolling is enabled for the whole document */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; /* Enable scrolling for the entire page */
}

/* Light Theme */
.App-light {
  background: linear-gradient(to bottom right, #333333, #000000); /* Black to Light Black */
  min-height: 100vh;
  color: white;
  padding: 20px;
  /* Removed overflow: auto from here */
}

/* Dark Theme */
.App-dark {
  background: linear-gradient(to bottom right, #000000, #444444); /* Darker Black */
  min-height: 100vh;
  color: white;
  padding: 20px;
  /* Removed overflow: auto from here */
}

